.canvas {
  height: 60vh;
}

#grid-container {
  border: 1px solid #a6a6a6;
  height: 100%;
  cursor: default;
}

.grid-cell {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

.creature-style {
  background-color: #ffd80c;
}

#leftbox {
  float:left;
  width:10%;
  height:100vh;
}
#middlebox{
  float:left;
  width:70%;
  height:80vh;
}
#rightbox{
  float:right;
  width:20%;
  height:100vh;
}